<!-- Contact Section -->
<section id="contact" class="contact">
  <div class="container">
    <h2>Looking for a DevOps Expert?</h2>
    <p>
      Contact me to bring efficiency and scalability to your infrastructure. Let’s build the future together.
    </p>
    <div class="contact-links">
      <a href="mailto:HarrytheDevOpsGuy@gmail.com" class="contact-link">
        <i class="fas fa-envelope"></i> Email
      </a>
      <a href="https://wa.me/917503721297?text=Hi" class="contact-link" target="_blank">
        <i class="fab fa-whatsapp"></i> WhatsApp
      </a>
      <a href="https://www.linkedin.com/in/hari-prasad-verma-19b948154" class="contact-link" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/HarryTheDevOpsGuy" class="contact-link" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="tel:+917503721297" class="contact-link">
        <i class="fas fa-phone-alt"></i> Phone
      </a>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="bg-dark text-white text-center p-4">
  <p><p>Made with ❤️ by <a href="{{ site.baseurl }}">Harry The DevOps Guy.</p>
  <p>
    <a href="https://github.com/HarryTheDevOpsGuy" class="text-white">GitHub</a> |
    <a href="https://linkedin.com/in/HarryTheDevOpsGuy" class="text-white">LinkedIn</a>
  </p>
</footer>
  