@media print {
  body * {
      visibility: hidden; /* Hide everything */
  }
  .printable-area, .printable-area * {
      visibility: visible; /* Show only the printable area */
  }
  .printable-area {
      position: absolute; /* Position it for printing */
      left: 0;
      top: 0;
      /* width: 100%; */
      margin: auto;
  }

  #resume { margin: auto; max-width: auto; max-height: auto; }
  .resume-body {
    max-width: auto;
    max-height: auto;
  }

}

  