 /* Custom styles */
 body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 40px;
  }
  
  .section {
    padding: 40px 0;
  }

  #resume { margin: auto; max-width: 21cm; max-height: 29.7cm; padding: 10px; border: 1px solid #333; overflow: hidden; font-size: 100%;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }