 /* Custom styles */
 body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 40px;
  }
  
  .section {
    padding: 40px 0;
  }

  #resume { margin: auto; max-width: 21cm; max-height: 29.7cm; padding: 10px; border: 1px solid #333; overflow: hidden; font-size: 100%;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  #resume { width: 21cm; height: 29.7cm; padding: 20px; border: 1px solid #333; overflow: hidden; font-size: 100%; }
  #resume h1, #resume h2 { margin-bottom: 10px; }
  #resume p { margin-bottom: 5px; }
  .font-size-control { width: 100%; }