 /* Custom styles */
 body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 40px;
  }
  
  .section {
    padding: 40px 0;
  }

  #resume h1, #resume h2 { margin-bottom: 10px; }
  #resume p { margin-bottom: 5px; }
  .success-msg { color: green; display: none; }
  .font-size-control { width: 100%; }

