---
layout: base
title: "Blog"
---

  <!-- About Section -->
  <section id="blog" class="blog-main mt-5">
    <h2 class="blog-title">{{ page.title }}</h2>
    <p class="blog-description">{{ page.description }}</p>
    <div class="container">
      <div class="blog-content">
        {{ content }}
      </div>
    </div>

    <div class="post-navigation">
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="prev-post">← {{ page.previous.title }}</a>
      {% endif %}
    
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="next-post">{{ page.next.title }} →</a>
      {% endif %}
    </div>
  </section>



  
  
